.darkmode{
    background-color: black;
    color: white;
}
.darknav{
    background-color: rgb(14, 4, 73);
}
.lightsidebar{
    background-color: white;
}
.darkmodesidebar{
    background-color: rgb(14, 4, 73);
    
    color: white;
}

.darkicon{
    color: white;
}

.app-bar-right {

    margin-left: 0;
    margin-right: 240px;
    flex-direction: row-reverse;

  }
  
  .app-bar-left {

    margin-left: 240px;
    margin-right: 0;
    flex-direction: row;

  }
  

