/* Set background image for the page */
body.login-page {
    /* background-image: url('C:\Users\Hp\Desktop\New folder (7)\my-react-app\src\images\84717247-dentistry-dental-treatment-icon-dental-degree-orthodontist-braces-fillings-and-tweezers-linear-signs.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: brightness(70%); /* Adjust the brightness to make it pale */
  }
  
  /* Add custom styles for the SignIn component */
  .avatar {
    background-color: #AAE0FF;
  }
  
  .formContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .textField {
    margin-bottom: 15px;
  }
  